{# NovaKur Base: Information route shell #}
{{ header }}

{% include 'catalog/view/template/component/layout/breadcrumb.twig' %}
<section class="nk-information-page">
  <h1>{{ heading_title|default('Information') }}</h1>
</section>

{{ footer }}
